* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#gameWindow {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    background: rgb(30, 30, 30);
}

.chatWindow {
    width: 100%;
    height: 400px;
}

.board {
    height: 920px;
    width: 920px;

    margin: auto;
    padding: 0;
    border: none;
    position: relative;

    background: url(./Assets/board.png);
    background-position: center;
    background-size: cover;
}


.piece {
    height: calc(900px/8);
    width: calc(900px/8);

    position: absolute;
    cursor: pointer;

    top: 10px;
    left: 10px;
}

.piece-item {
    height: 100%;
}

.selected {
    box-shadow: 2px 2px 20px 2px greenyellow,
                2px 2px 2px 2px greenyellow;
}